body, html{
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#game{
    text-align: center;
}

#board{
    margin-bottom: 20px;
}

.cell{
    width: 60px;
    height: 60px;
    border: 2px solid #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;font-size: 2em;
}

.correct{
    background-color: rgb(26, 212, 26);
}

.present{
    background-color: yellow;
}

.absent{
    background-color: grey;
}
